@font-face {
    font-family: 'iran-yekan';
    src: url('../assets/fonts/Yekan.woff'); format('woff');
    font-style: normal;
    font-weight: normal;

}

body,button,input,optgroup,select,textarea {
    font-family: 'iran-yekan';
}

