/*Reset*/
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*root Variable*/
:root {
    --color--primary: #FF5722;
    --color--secondary--light: #FFF6F2;
    --color--secondary--dark: #FFA589;
    --color--heading: #000000;
    --color--text: #333333;
    --color--white: #FFFFFF;
    --color--info: #374754
}

html {
    font-size: 62.5%;
}

body {
    color: var(--color--text);
    font-size: 1.4rem;
    line-height: 2.8rem;
}

li, ul {
    list-style: none;
}


h3, h4 {
font-size: 1.2rem;
}

a{
    text-decoration: none;
    color: var(--color--text);
}

a:hover {
    color: var(--color--primary);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2rem;

    }

}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.hidden{
    display: none;
}

.hidden-visually{
    visibility: hidden;
}


input {
    display: block;
    outline: none;

}

textarea {
    resize: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}


.icon {
    display: inline;
    width: 4rem;
    height: 4rem;
}

.icon--inline {
    width: 2.8rem;
    height: 3.3rem;
    display: flex;
    align-items: center;
}

.icon--inline--mail {
    width: 2.7rem;
    height: 2rem;
}


.btn {
    cursor: pointer;
    outline: none;
    border: none;
    width: 21rem;
    height: 5rem;
    border-radius: 8px;
    white-space: nowrap;
    text-align: center;
    font-size: 1.4rem;
    background-color: var(--color--primary);
    color: var(--color--white);
}

.btn--secondary {
    background-color: var(--color--secondary--dark);
    color: var(--color--white);
}

.btn--black {
    font-size: 1.6rem;
    display: inline-block;

}

.btn--form {
    width: 14.5rem;
    height: 5.6rem;
    border-radius: 35px;
    align-self: flex-end;
    margin-left: 5rem;
    font-size: 2rem;

}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.6rem;
    }

    .btn--black {
        font-size: 2rem;
    }
}

.badge {
    background-color: var(--color--primary);
    color: var(--color--white);
    border: 2px solid var(--color--primary);
    border-radius: 32px;
    width: 7.5rem;
    height: 3rem;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.badge--light {
    background-color: #FFF6F2;
    color: var(--color--primary);
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.4rem;
    }
}

.list {
    display: flex;
    font-size: 1.8rem;
}


.list--vertical {
    flex-direction: column;
    gap: 2.5rem;
}

.list--horizontal {
    align-items: center;
    gap: 3.7rem;
}


.list--vertical li {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}


.list--vertical li::before {
    content: "";
    width: 2.6rem;
    height: 2.6rem;
    background: url("/assets/images/check.svg") no-repeat center;


}

.reservation {
    display: flex;
    flex-direction: column;
    /*grid-template-columns: repeat(auto-fit, minmax(250px, 320px));*/
    align-items: center;
    gap: 5rem;
    margin-top: 40rem;
    margin-bottom: 20rem;
}


@media screen and (min-width: 1024px) {
    .reservation {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.reservation__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 31rem;
    height: 62rem;
    background-color: var(--color--secondary--light);
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}


@media screen and (min-width: 1024px) {
    .reservation__container:hover {
        transform: scale(1.05);
    }

    .reservation__container--popular:hover {
        transform: scale(1.15);
    }
}

.reservation__container--popular {
    transform: scale(1.1);
}

.reservation__header {
    position: absolute;
    top: 0;
    background-color: #FF7A50;
    width: 100%;
    height: 18.5rem;
    border-radius: 20px 20px 0 0;
}

.reservation__header--light {
    background-color: #FFA589;
}

.reservation__header__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 4rem;
    right: 2.2rem;
    font-size: 1.8rem;
    color: var(--color--white);

}

.reservation--badge {
    position: absolute;
    top: 3.3rem;
    left: 2.9rem;
}


.reservation__content ul {
    position: absolute;
    bottom: 19rem;
    right: 2.2rem;
}

.reservation__content button {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
}

@media screen and (min-width: 1024px) {
    .reservation__content button {
        right: 3rem;
    }
}

.services {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    padding: 0 3.5rem;
    margin-top: 7.5rem;
}

.services__img {
    /*justify-self: end;*/
}

.services img {
    width: 32.5rem;
    height: 21rem;
    padding-right: 3rem;
}

.services__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.6rem;

}

@media screen and (min-width: 1024px) {
    .services {
        grid-template-columns: 68rem 1fr;
        padding-right: 11rem;
        padding-left: 5rem;
        column-gap: 1rem;

    }

    .services__img {
        order: 2;
    }

    .services__content {
        order: 1;

    }

    .coupon__img {
        order: 1;

    }

    .coupon__content {
        order: 2;

    }
}


.contact {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    height: 120rem;
}

.contact__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    padding: 3rem;

}

.contact__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 11rem;
    gap: 1rem;
    text-align: center;
}

.contact__icons {
    display: flex;
    height: 6rem;
    gap: 2.4rem;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.contact__info {
    display: flex;
    flex-direction: column;
    height: 21rem;
    width: 35rem;
    align-self: flex-end;
    gap: 3rem;
    align-items: end;
    margin-left: 4rem;
}

.contact__info p,h6{
    color: var(--color--info);
    direction: ltr;
    font-size: 1.6rem;
}

.contact__info__container {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.7rem;
    align-items: center;
    text-align: end;
}

.contact__info span {
    display: inline-flex;
    width: fit-content;
    height: fit-content;
}

.contact__map {
    display: none;
    height: 34rem;
    width: 63rem;
}

.contact__form {
    height: 67rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact__form form {
    height: 67rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    border: 1px solid #DDDDDD;
    box-shadow: 0 13px 19px 0 #00000012;
    border-radius: 20px;
}

.contact__form input[type=text], input[type=email] {
    width: 28rem;
    height: 5.5rem;
    border: 1px solid #F5F5F5;
    outline: none;
    background-color: #F5F5F5;
    border-radius: 39px;
    padding: 2rem;
    text-align: end;
    margin: 0 5rem
}

.contact__form textarea {
    width: 28rem;
    height: 19rem;
    border: 1px solid #F5F5F5;
    outline: none;
    background-color: #F5F5F5;
    padding: 2rem;
    text-align: end;
}


@media screen and (min-width: 1024px) {
    .contact {
        width: 113rem;
        height: 68rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

    }

    .contact__content {
        height: 68rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .contact__header {
        display: none;
    }

    .contact__info {
        width: 54rem;
        height: 13rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 0;
        align-items: center;
    }

    .contact__info__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .contact__info .info__location {
        width: 25rem;
        margin-top: 1rem;
    }

    .contact__info .info__mobile {
        width: 12rem;
        margin-top: -1rem;

    }

    .contact__info .info__mail {
        width: 14rem;
    }

    .contact__info .info__location p{
        padding: 0 1.5rem;
    }

    .contact__info p,h6{
        font-size: 1.4rem;
    }



    .contact__icons {
        height: 6rem;
        width: 18rem;
        align-self: flex-end;


    }

    .contact__map {
        display: block;
    }

    .contact__map img {
        width: 62rem;
        height: 32rem;


        .contact__form {
            width: 48rem;
            height: 68rem;
        }

    }
}




footer{
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: var(--color--white);
    padding: 3rem 1.5rem;
}

footer h1,h2{
    margin-bottom: 1.2rem;
    margin-top: 2.5rem;
}

footer a,p{
    font-size: 1.4rem;
    color: var(--color--white);
    display: block;
}.footer__images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5rem 0;
 }

footer img{
    width: 12rem;
    height: 12.5rem;
    background-color: #fff;
    border-radius: 15px;
}
.footer__social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
}

.footer__social p {
    display: none;
}


@media screen and (min-width: 1024px) {
    .footer__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 14rem;
    }
    .copy-right{
        display: none;
    }
    .footer__social {
        flex-direction: column;
        justify-content: start;
        margin-right: 14rem;
    }

    .footer__social p {
        display: block;
    }
    .footer--media{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0.5rem;
        margin-right: 0;

    }
}

/*S-header*/


.navbar{
    display: flex;
    flex-direction: column;
}

.header__first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:1.4rem 2.7rem;
    background-color: #F8F8F8;

}

.logo{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.logo svg{
    width: 3.6rem;
    height: 2rem;
}

.hamburger{
    display: flex;
    flex-direction: column;
    gap: 0.55rem;
    align-self: flex-end;
    cursor: pointer;

}

.hamburger div {
    background-color: black;
    width: 2.4rem;
    height: 0.2rem;
}
.hamburger__one, .hamburger__two , .hamburger__three {
    transition: all 0.5s ;
}
.rotation-one{
    transform: rotate(39deg);
    transform-origin: left;

}

.opacity-two{
    opacity: 0;
}
.rotation-three{
    transform: rotate(-39deg);
    transform-origin: left;


}





.menu{
    margin-top: 1rem;
    max-height: 0;
    overflow: hidden;
    /*transition: all 0.1s;*/
}

.open{
    max-height: 100vh;

}

.menu li{
    padding: 1rem;
}
.menu li a{
    display: block;
}

.nav--btn{
    width: 13rem;
    height: 4rem;
    border-radius: 20px;
    margin-right: 1rem;
}


@media screen and (min-width: 1024px) {
    .navbar{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 5.5rem;
        padding: 0 13rem;
        font-size: 1.5rem;

    }

    .header__first{
        padding: 0;
        background-color: var(--color--white);
    }

    .hamburger{
        display: none;
    }


    .menu{
        display: flex;
        gap: 2.5rem;
        align-items: center;
        max-height: 100vh;
    }

    .menu ul{
        display: flex;
        flex-direction: row;
        gap: 3rem;

    }

    .menu li{
        padding: 0;
    }

    .nav--btn{

    }

}



    /*div,footer, navbar,header {*/
    /*    border: 1px solid var(--color--primary);*/
    /*}*/