<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact-us</title>
</head>
<body>

<section class="contact container">
    <div class=" br contact__content">
        <div class=" br contact__header">
            <h2>ارتباط با ما</h2>
            <h3>شما میتوانید نظرات و انتقادات خود را برای ما بفرستید</h3>
        </div>
        <div class="contact__icons">
            <svg  class="icon">
                <use xlink:href="assets/images/svg-sprit.svg#x"></use>
            </svg>
            <svg class="icon">
                <use xlink:href="assets/images/svg-sprit.svg#facebook"></use>
            </svg>
            <svg class="icon">
                <use xlink:href="assets/images/svg-sprit.svg#linkdin"></use>
            </svg>
        </div>

        <div class="contact__map">
            <img src="/assets/images/map.png" alt="map">
        </div>

        <div class="contact__info">
            <div class="contact__info__container info__location" >
                <span><svg class="icon--inline"><use xlink:href="assets/images/svg-sprit.svg#location"></use></svg></span>
                <p>ایران-آذربیجان شرقی-تبریز-خیابان۲۱-پلاک۲۲</p>
            </div >
            <div class="contact__info__container info__mobile">
                <span><svg class="icon--inline"><use xlink:href="assets/images/svg-sprit.svg#mobile"></use></svg></span>
                <h6>+989182451234</h6>
            </div>
            <div class="contact__info__container info__mail">
                <span><svg class="icon--inline--mail"><use xlink:href="assets/images/svg-sprit.svg#email"></use></svg></span>
                <h6>info@fronthooks.ir</h6>
            </div>
        </div>


    </div>


    <div class="contact__form">
        <form action="" method="post">
            <h3>contact us</h3>
            <label for="name" class="visually-hidden"></label>
            <input id="name" type="text" placeholder="your name">
            <label for="email" class="visually-hidden"></label>

            <input id="email" type="email" placeholder="your email">
            <label for="discreption" class="visually-hidden"></label>
            <textarea name="" id="discreption" cols="30" rows="10" placeholder="your message"></textarea>
            <input class="btn btn--form" type="submit" value="send">
        </form>
    </div>



</section>

</body>
</html>