<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>

<footer>
    <div class="footer__container">
        <div>
            <h1>تپسی</h1>
            <p>اپلکیشن درخواست تاکسی و پیک</p>
        </div>
        <div>
            <h2>تپسی</h2>
            <a href="#">وبلاگ تپسی</a>
            <a href="#">وبلاگ تپسی</a>
            <a href="#">وبلاگ تپسی</a>
            <a href="#">وبلاگ تپسی</a>
            <a href="#">وبلاگ تپسی</a>
            <a href="#">وبلاگ تپسی</a>
            <a href="#">وبلاگ تپسی</a>
        </div>
        <div>
            <h2>مسافران</h2>
            <a href="#">وبلاگ تپسی</a>
            <a href="#">وبلاگ تپسی</a>
            <a href="#">وبلاگ تپسی</a>
            <a href="#">وبلاگ تپسی</a>
            <a href="#">وبلاگ تپسی</a>
        </div>
        <div>
            <h2>رانندگان</h2>
            <a href="#">وبلاگ تپسی</a>
            <a href="#">وبلاگ تپسی</a>
            <a href="#">وبلاگ تپسی</a>
            <a href="#">وبلاگ تپسی</a>
            <a href="#">وبلاگ تپسی</a>
            <a href="#">وبلاگ تپسی</a>
        </div>
        <div>
            <h2>کسب کار ها</h2>
            <a href="#">پنل سازمانی تپسی</a>
            <a href="#">خرید کد اعتبار و تخفیف</a>
        </div>

        <div class="footer__images">
            <img src="/assets/images/etehadiye.png" alt="etehadiye">
            <img src="/assets/images/etemad.png" alt="etemad">
            <img src="/assets/images/meli.png" alt="meli">
        </div>

        <div class="copy-right">
            <p>تمامی حقوق مادی معنوی این سایت متعلق به من است</p>
        </div>

    </div>

    <div class="footer__social ">
        <p>تپسی در شبکه های اجتماعی</p>
        <div class="footer__social footer--media">
            <span>
            <svg class="icon--inline">
                <use xlink:href="/assets/images/svg-sprit.svg#instagram"></use>
            </svg>
        </span>
            <span>
            <svg class="icon--inline">
                <use xlink:href="/assets/images/svg-sprit.svg#testing"></use>
            </svg>
        </span>
            <span>
            <svg class="icon--inline">
                <use xlink:href="/assets/images/svg-sprit.svg#xs"></use>
            </svg>
        </span>
            <span>
            <svg class="icon--inline">
                <use xlink:href="/assets/images/svg-sprit.svg#youtube"></use>
            </svg>
        </span>
        </div>
    </div>
</footer>

</body>
</html>