<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hero</title>
</head>
<body>

<section class="hero container">
    <picture class="hero-image">
        <source media="(max-width: 1024px)" srcset="/assets/images/baner-mobile.webp" type="image/webp">

        <source media="all(min-width:1024px)" srcset="/assets/images/baner.webp" type="image/webp">

        <img src="/assets/images/baner.png" alt="baner">
    </picture>

    <div class="hero__container">
        <div class="hero__container__content">
            <h2 class="hero__title">تپسی</h2>
            <p>اپلکنشن درخواست خودرد و پیک</p>
        </div>
        <div class="hero__container__buttons">
            <button>دانلود اپلکیشن مسافران</button>
            <button>وب اپلکیشن مسافران</button>
            <button class="bgc-none">دانلود اپلکشین رانندگان</button>
            <button class="bgc-none">ثبت نام رانندگان</button>
        </div>

    </div>

    <div class="hero-overlay">
        <img src="/assets/images/mockup-phone.png" alt="mockup-phone">
    </div>



</section>

</body>
</html>