<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>navbar</title>
</head>
<body>


<header>
    <nav class="navbar">
        <div class="header__first">
            <div class="logo">
                <h1>تپسی</h1>
                <svg>
                    <use xlink:href="/assets/images/svg-sprit.svg#logo"></use>
                </svg>
            </div>
            <div class="hamburger">
                <div class="hamburger__one"></div>
                <div class="hamburger__two"></div>
                <div class="hamburger__three"></div>

            </div>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">ثبت نام رانندگان </a></li>
                <li><a href="#">ثبت نام راننده موتور </a></li>
                <li><a href="#">وبلاگ </a></li>
                <li><a href="#"> پشتیبانی</a></li>
                <li><a href="#">اپلکیشن رانندگان </a></li>
            </ul>
            <div class="nav__btn">
                <button class="btn nav--btn" type="button">دانلو تپسی</button>
            </div>
        </div>

    </nav>

</header>

</body>
</html>