<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reservation</title>
</head>
<body>

<div class="reservation container ">
    <div class="reservation__container">
        <div class="reservation__header reservation__header--light">
            <div class="badge reservation--badge badge--light">
                <p class="badge__paragraph" dir="ltr">10% off</p>
            </div>
            <div class="reservation__header__content">
                <p>title</p>
                <p>price</p>
                <p>description</p>
            </div>
        </div>
        <div class="reservation__content">
            <ul class="list list--vertical">
                <li>ایتم ها</li>
                <li>ایتم ها</li>
                <li>ایتم ها</li>
                <li>ایتم ها</li>
            </ul>
            <button class="btn btn--black btn--secondary">ورود و ثبت نام پنل سازمانی</button>
        </div>
    </div>



    <div class="reservation__container reservation__container--popular ">
        <div class="reservation__header">
            <div class="badge reservation--badge">
                <p class="badge__paragraph" dir="ltr">10% off</p>
            </div>
            <div class="reservation__header__content">
                <p>title</p>
                <p>price</p>
                <p>description</p>
            </div>
        </div>
        <div class="reservation__content">
            <ul class="list list--vertical">
                <li>ایتم ها</li>
                <li>ایتم ها</li>
                <li>ایتم ها</li>
                <li>ایتم ها</li>
            </ul>
            <button class="btn btn--black">ورود و ثبت نام پنل سازمانی</button>
        </div>
    </div>


    <div class="reservation__container">
        <div class="reservation__header reservation__header--light">
            <div class="badge reservation--badge badge--light">
                <p class="badge__paragraph" dir="ltr">10% off</p>
            </div>
            <div class="reservation__header__content">
                <p>title</p>
                <p>price</p>
                <p>description</p>
            </div>
        </div>
        <div class="reservation__content">
            <ul class="list list--vertical">
                <li>ایتم ها</li>
                <li>ایتم ها</li>
                <li>ایتم ها</li>
                <li>ایتم ها</li>
            </ul>
            <button class="btn btn--black btn--secondary">ورود و ثبت نام پنل سازمانی</button>
        </div>
    </div>






</div>



</body>
</html>