<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>services</title>
</head>
<body>
<section class="services container">
    <div class="services__img">
        <img src="/assets/images/mac1.png" alt="services">
    </div>
    <div class="services__content">
        <h2>خدمات تپسی برای کسب کار ها</h2>

        <p>نامز‌مه تساوخرد ناکما یگداس هب هک تسا بو تحت هناماس کی ،یسپت ینامزاس لنپ
            اب و .دنک‌یم مهارف اه‌نامزاس و اهراکو‌بسک یارب ار کیپ و وردوخ یدودحمان دادعت
            یگداس هب ار دوخ یاهالاک لاسرا و یرهش‌نورد یاه تیرومام دیناوت‌یم نآ زا هدافت .دینک تیریدم
        </p>
        <button class="btn">ورود و ثبت نام پنل سازمانی</button>
    </div>
</section>
<section class="services container">
    <div class="services__img coupon__img">
        <img src="/assets/images/mac2.png" alt="coupon">
    </div>
    <div class="services__content coupon__content">
        <h2>خدمات تپسی برای کسب کار ها</h2>

        <p>نامز‌مه تساوخرد ناکما یگداس هب هک تسا بو تحت هناماس کی ،یسپت ینامزاس لنپ
            اب و .دنک‌یم مهارف اه‌نامزاس و اهراکو‌بسک یارب ار کیپ و وردوخ یدودحمان دادعت
            یگداس هب ار دوخ یاهالاک لاسرا و یرهش‌نورد یاه تیرومام دیناوت‌یم نآ زا هدافت .دینک تیریدم
        </p>
        <button class="btn">ورود و ثبت نام پنل سازمانی</button>
    </div>
</section>

</body>
</html>