<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tabs</title>
</head>
<body>

<section class="tabs container">
    <div class="tabs__content">
        <a href="" class="tabs__tab active" data-tab-target="classic">
            <img src="/assets/images/tabs/cc-classic.png" alt="tabs">
            <p>تپسی کلاسیک</p>
        </a>
        <a href="" class="tabs__tab " data-tab-target="share">
            <img src="/assets/images/tabs/cc-wait-and-share.png" alt="tabs">
            <p>با‌همسفر</p>
        </a>
        <a href="" class="tabs__tab" data-tab-target="delivery">
            <img src="/assets/images/tabs/cc-delivery.png" alt="tabs">
            <p>ارسال بسته</p>
        </a>
        <a href="" class="tabs__tab" data-tab-target="tel">
            <img src="/assets/images/tabs/cc-tel.png" alt="tabs">
            <p>تلفنی</p>
        </a>
        <a href="" class="tabs__tab" data-tab-target="plus">
            <img src="/assets/images/tabs/cc-plus.png" alt="tabs">
            <p>پلاس</p>
        </a>
        <a href="" class="tabs__tab" data-tab-target="intercity">
            <img src="/assets/images/tabs/cc-intercity.png" alt="tabs">
            <p>بین شهری</p>
        </a>

    </div>
</section>

<section class="tabs__result container">
    <div class="tabs__result__content active" id="classic">
        <div class="services__img tabs--img">
            <img src="/assets/images/tabs/illus-classic.png" alt="services">
        </div>
        <div class="services__content">
            <h2>تپسی کلاسیک</h2>

            <p>با سرویس تپسی کلاسیک،سریع آسان و به صرفه به مقصد برسید. در این سرویس می توانید به دو یا چند مقصد سفر کنید.</p>
        </div>
    </div>
    <div class="tabs__result__content" id="share">
        <div class="services__img tabs--img">
            <img src="/assets/images/tabs/illus-wait-and-share.png" alt="services">
        </div>
        <div class="services__content">
            <h2>با همسفر</h2>

            <p>در سرویس با‌همسفر تپسی، با یک مسافر دیگر هم مسیر می شوید. هزینه سفر شما با این سرویس ۳۰٪ به صرفه تر از سسفر کلسیک است.</p>
        </div>
    </div>
    <div class="tabs__result__content" id="delivery">
        <div class="services__img tabs--img">
            <img src="/assets/images/tabs/illus-delivery.png" alt="services">
        </div>
        <div class="services__content">
            <h2>ارسال بسته</h2>

            <p>نامز‌مه تساوخرد ناکما یگداس هب هک تسا بو تحت هناماس کی ،یسپت ینامزاس لنپ
                اب و .دنک‌یم مهارف اه‌نامزاس و اهراکو‌بسک یارب ار کیپ و وردوخ یدودحمان دادعت
                یگداس هب ار دوخ یاهالاک لاسرا و یرهش‌نورد یاه تیرومام دیناوت‌یم نآ زا هدافت .دینک تیریدم
            </p>
        </div>
    </div>
    <div class="tabs__result__content" id="tel">
        <div class="services__img tabs--img">
            <img src="/assets/images/tabs/illus-tel.png" alt="services">
        </div>
        <div class="services__content">
            <h2>تپسی تلفنی</h2>

            <p>نامز‌مه تساوخرد ناکما یگداس هب هک تسا بو تحت هناماس کی ،یسپت ینامزاس لنپ
                اب و .دنک‌یم مهارف اه‌نامزاس و اهراکو‌بسک یارب ار کیپ و وردوخ یدودحمان دادعت
                یگداس هب ار دوخ یاهالاک لاسرا و یرهش‌نورد یاه تیرومام دیناوت‌یم نآ زا هدافت .دینک تیریدم
            </p>
        </div>
    </div>
    <div class="tabs__result__content" id="plus">
        <div class="services__img tabs--img">
            <img src="/assets/images/tabs/illus-plus.png" alt="services">
        </div>
        <div class="services__content">
            <h2>تپسی پلاس</h2>

            <p>در سرویس با‌همسفر تپسی، با یک مسافر دیگر هم مسیر می شوید. هزینه سفر شما با این سرویس ۳۰٪ به صرفه تر از سسفر کلسیک است.</p>
        </div>
    </div>
    <div class="tabs__result__content" id="intercity">
        <div class="services__img tabs--img">
            <img src="/assets/images/tabs/illus-intercity.png" alt="services">
        </div>
        <div class="services__content">
            <h2>خدمات تپسی برای کسب کار ها</h2>

            <p></p>
        </div>
    </div>

</section>

</body>
</html>